
<section>
    <h2 class="title">Liste de tous les services</h2>

    <table  class="mat-elevation-z8">
        <tr  >
            <th  > UserId </th>
            <th  > Gender </th>
            <th  > UserName </th>
            <th  > FullName </th>
            <th  > Contact </th>
            <th  > Email </th>
            <th  > Date Of Birth </th>
            <th  > Date d'enregistrement </th>
            <th  > Adresse </th>
            <th  > Roles </th>
            <th  > suppression </th>
            <th  > edition </th>
        </tr>
        <tr *ngFor="let user of users" >
            <td  > {{ user.userId }} </td>
            <td  > {{ user.gender }} </td>
            <td   > {{ user.username }} </td>
            <td  > {{ user.fullname }} </td>
            <td  > {{ user.usercontact }} </td>
            <td  > {{ user.email }} </td>
            <td  > {{ user.dateOfBirth | date }} </td>
            <td  > {{ user.createdAt | date }} </td>
            <td  > {{ user.userAdress }} </td>
            <td > {{ user.roles }} </td >
            <td  > <button (click)="editUser(user)"> Editer </button> </td>
            <td  > <button (click)="deleteUser(user)"> Supprimer </button> </td>
        </tr>
    </table>
</section>